@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* Universais */
    --white: #FFFFFF;
    --black: #2C2C2C;
    --danger: #FE051A;
    --green: #00CD2D;
    --hover: #E9EAEB;
    --placeholder: #888888;
    /* Modo Foco */
    --background-foco: #FFFAFC;
    --primary-foco: #F472B6;
    --surface-foco: #FBD0E7;
    /* Modo Pausa */
    --background-pausa: #FAFFFB;
    --primary-pausa: #72F476;
    --surface-pausa: #D0FBDB;
    /* Modo Descanso */
    --background-descanso: #FAFEFF;
    --primary-descanso: #72EBF4;
    --surface-descanso: #D0F8FB;
}