@font-face {
    font-family: 'Clash Display';
    src: url('font/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('font/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('font/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Universais */
    --white: #FFFFFF;
    --black: #2C2C2C;
    --danger: #FE051A;
    --green: #00CD2D;
    --hover: #E9EAEB;
    --placeholder: #888888;
}

.modo-foco {
    --background: #FFFAFC;
    --primary: #F472B6;
    --surface: #FBD0E7;
}

.modo-pausa {
    --background: #FAFFFB;
    --primary: #72F476;
    --surface: #D0FBDB;    
}

.modo-descanso {
    --background: #FAFEFF;
    --primary: #72EBF4;
    --surface: #D0F8FB;     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Clash Display', sans-serif;
    letter-spacing: 0%;
    transition: all 0.3s ease-in-out;
}

*:focus {
    outline: none;
    box-shadow: none;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}

button {
    outline: none;
}

/* Text styles */
.texto-timer {
    font-weight: 700;
    font-size: 120px;
    line-height: 140px;
}

.texto-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

.texto-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.texto-small {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.texto-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.texto-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.texto-crossed {
    text-decoration-line: line-through;
}

/* Estilos do projeto desktop-first */

main {
    margin: 140px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

/* Logo MeuPomo */
#logo {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

#logo > strong {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}

/* Menu de modos entre timers */

#tab {
    display: flex;
    box-shadow: -2px 4px 0px 0px var(--black);
    border-radius: 40px;
    border: 3px solid var(--black);
}

nav > button {
    width: 160px;
    height: 44px;
    background-color: transparent;
    padding: 6px 16px;
    border: none;
}

nav > button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#foco {
    border-right: 3px solid var(--black);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

#descanso {
    border-left: 3px solid var(--black);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* Modos ativos de cada tab */

.active-tab {
    background-color: var(--primary) !important;
}

/* Botões de Ação do Timer */

#buttons {
    display: flex;
    width: 337;
    height: 96;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#button-reset, #button-forward {
    width: 80;
    height: 80;
    border-radius: 16px;
    background-color: var(--surface);
    border: 2px solid var(--black);
    box-shadow: -2px 4px 0px 0px var(--black);
    padding: 24px;
}

#button-reset:hover, #button-forward:hover {
    background-color: rgb(from var(--surface) r g b / 0.6);
    cursor: pointer;
}

#button-play {
    width: 113px;
    height: 96px;
    border-radius: 16px;
    padding: 4px;
    background-color: var(--primary);
    border: 2px solid var(--black);
    box-shadow: -2px 4px 0px 0px var(--black);
}

#button-play:hover {
    background-color: rgb(from var(--primary) r g b / 0.6);
    cursor: pointer;
}

div > button > img {
    width: auto;
    height: 32px;
}

/* Icone, Texto e Radio para Ativar Música */

#div-musica {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#div-musica > img {
    height: 28px;
}

#label-musica {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-musica {
    margin-left: 16px;
    width: 52px;
    height: 26px;
    border-radius: 30px;
    border: 1px solid var(--black);
    background: var(--white);
    box-shadow: 2px 1px 0px 0px var(--black);
}

.button-musica:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.span-musica {
    width: 20px;
    height: 20px;
    background-color: var(--black);
    transform: translate(-20px, -10px);
    border-radius: 100%;
    position: absolute;
}

/* Botão de música ativo */

.button-musica-active {
    background-color: var(--primary);    
}

.button-musica-active:hover {
    background-color: rgb(from var(--primary) r g b / 0.6);
}

.span-active {
    transform: translate(-0px, -10px);
    border: 1px solid var(--black);
    background-color: var(--background);
}

/* Card de tasks */

aside {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    background-color: var(--surface);
    border: 4px solid var(--black);
    border-radius: 10px;
    width: 582px;
    max-height: 740px;
    padding: 24px;
    box-shadow: -2px 4px 0px 0px var(--black);
}

#minhas-tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dropdown > button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

#dropdown {
    position: relative;
}

#container-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 8px;
    box-shadow: -2px 4px 0px 0px var(--black);
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#dropdown > button > .editar-todas-tasks {
    height: 25px;
}

.editar-todas-tasks:hover {
    background-color: rgb(from var(--primary) r g b / 0.4);
    cursor: pointer;
    border-radius: 8px;
}

.opcoes-dropdown {
    background-color: transparent;
    border: none;
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.opcoes-dropdown:first-child {
    border-bottom: 1px solid var(--black);
}

#dropdown-1:hover, #dropdown-2:hover {
    background-color: var(--hover);
}

#dropdown-1:hover {
    border-radius: 8px 8px 0 0;
}

#dropdown-2:hover {
    border-radius: 0 0 8px 8px;
}

#tasks-list {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

#tasks-list > #task-form {
    flex-shrink: 0;
}

#tasks-list.task-list-vazia {
    margin-top: -16px;
}

.task-list-tres-itens {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(auto * 80px);
    max-height: calc(3 * 80px);
}

.task-list-sete-itens {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(7 * 80px);   
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: var(--white);
    width: 100%;
    height: 68px;
    border-radius: 8px;
    padding: 16px 15px;
    border: 2px solid var(--black);
}

.task-menor {
    width: 97%;
}

.check-task {
    display: inline-block; 
    border: 1px solid var(--black);
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--white);
}

.check-task:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.sombra-task {
    box-shadow: -2px 4px 0px 0px var(--black);
}

.task-concluida {
    background-image: url(icons/check-fat-fill.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--green);
    box-shadow: -2px 4px 0px 0px var(--black);
    transition: 0.1s ease-in-out;
}

.task-concluida:hover {
    background-color: rgb(from var(--green) r g b / 0.8);
}

.task > img {
    width: 36px;
    border: 2px solid var(--black);
    box-shadow: 2px 1px 0px 0px var(--black);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 2px 1px 0px 0px var(--black);
    margin-left: auto;
}

/* Illustração e task de empty state */

#illust-tasks-vazias {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

#illust-tasks-vazias > img {
    height: 250px;
    width: 350px;
    overflow: hidden;
    object-fit: cover;
    margin: 16px 0;
}

#illust-tasks-vazias > h3, p {
    text-align: center;
}

#illust-tasks-vazias > p {
    width: 100%;
}

/* Form de nova task / edit task */

#task-form > fieldset {
    width: 100%;
    height: 304px;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--white);
    border: 2px solid var(--black);
}

.task-label {
    display: block;
}

#task-input {
    resize: none;
    padding: 6px;
    margin: 16px 0;
    width: 100%;
    height: 156px;
    border-radius: 8px;
    border: 2px solid var(--black);
    box-shadow: -2px 4px 0px 0px var(--black);
}

#task-input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

#buttons-input {
    display: flex;
    gap: 16px;
}

#button-excluir {
    width: 92px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--danger);
    color: var(--white);
    border: 2px solid var(--black);
    box-shadow: 2px 1px 0px 0px var(--black);
}

#button-excluir:hover {
    background-color: rgb(from var(--danger) r g b / 0.8);
    cursor: pointer;
}

#button-cancelar {
    width: 101px;
    height: 44px;
    border-radius: 8px;
    margin-left: auto;
    background-color: var(--white);
    box-shadow: 2px 1px 0px 0px var(--black);
}

#button-cancelar:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#button-salvar {
    width: 90px;
    height: 44px;
    border-radius: 8px; 
    background-color: var(--primary);
    box-shadow: 2px 1px 0px 0px var(--black);
}

#button-salvar:hover {
    background-color: rgb(from var(--primary) r g b / 0.6);
    cursor: pointer;
}

/* Botão de adicionar task */

#button-adicionar-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    padding: 16px;
    border: 2px dashed var(--black);
    background-color: transparent;
}

#button-adicionar-task:hover {
    background-color: rgb(from var(--primary) r g b / 0.4);
    cursor: pointer;
}

#button-adicionar-task > span {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 2px 1px 0px 0px var(--black);
    border: 2px solid var(--black);
}

#button-adicionar-task > span > img {
    width: 22px;
}

.lapis:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.hidden {
    display: none !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 16px;
}

#texto-footer {
    font-size: 20px;
    font-weight: 600;
}

.svg-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 30px;
}

#github-logo:hover {
    fill: var(--primary);
}

#linkedin-logo:hover {
    fill: #0A66C2;
}

@media screen and (max-width: 1400px), screen and (max-height: 900px) {
    main {
        margin: 80px 0;
        gap: 40px;
    }
}

@media screen and (max-width: 1100px), screen and (max-height: 600px) {

    main {
        flex-flow: column nowrap;
        margin: 32px 0;
        gap: 40px;
    }

    #logo, #logo > strong {
        font-size: 40px;
    }

    nav > button {
        width: 120px;
        height: 44px;
    }

    aside {
        width: 360px;
    }

    .texto-text {
        overflow-wrap: break-word;
        width: 180px;
        overflow-wrap: break-word;
        font-size: 14px;
        line-height: 120%;
    }

    .texto-timer {
        font-size: 100px;
    }

    .texto-subtitle {
        font-size: 18px;
    }

    #buttons-input {
        gap: 8px;
    }

    #button-excluir {
        width: 35%;
    }

    #button-cancelar {
        width: 35%;
    }

    #button-salvar {
        width: 35%;
    }
}